version: "3.9"

services:
  localstack:
    image: localstack/localstack
    environment:
      - SERVICES=dynamodb
      - EDGE_PORT=4566
      - AWS_DEFAULT_REGION=eu-west-1
      - PERSISTENCE=1
    ports:
      - "4566:4566"
    volumes:
      - ./localstack-data:/var/lib/localstack

  api:
    build: ./api
    environment:
      - AWS_REGION=eu-west-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - DYNAMODB_ENDPOINT=http://localstack:4566
      - NOTES_TABLE=CloudNotesNotes
    depends_on:
      - localstack
    ports:
      - "3000:3000"

  ui:
    build: ./ui
    depends_on:
      - api
    ports:
      - "4200:80"